
@{
    ViewData["Title"] = "Doctor";
    Layout = "~/Views/Shared/Doctor_Layout.cshtml";
}
<center>
    <h1 style="color: white; background-color: royalblue; padding: 10px;">

        DOCTOR DESHBOARD
    </h1>
</center>
<div>
    <img src="~/Admin/assets/images/doctors.jpg" width="1250" height="650" alt="My Image">
</div>
