
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>WELLCOME AMJAD HUSSAIN HOSPITAL</h1>
<div>
    <img src="~/Admin/assets/images/hospital.png" width="1300" height="600" alt="My Image">
</div>

