
@{
    ViewData["Title"] = "Patient";
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}
<center>
    <h1 style="color: white; background-color: royalblue; padding: 10px;">

        PATIENT DESHBOARD
    </h1>
</center>
<div>
    <img src="~/Admin/assets/images/patient.jpg" width="1400" height="700" alt="My Image">
</div>